@using Survey.Models
@model Form 


<h1>Submitted Info</h1>
<div>
    <h3>Name:@Model.Name </h3>
    <h3>Dojo Location: @Model.Location </h3>
    <h3>Favorite Language:@Model.Language </h3>
    <h3>Comment: @Model.Comment </h3>
    <a href="http://localhost:5000/" class="btn btn-outline-primary btn-lg">Go Back</a>
</div>